<a href="https://colab.research.google.com/github/sardormamatqobulov1/Python_lesson/blob/main/Python_List%26Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is a List?

In [1]:
numbers = [10, 20, 30, 40]

#Task 1: Access data from a list

In [2]:
sales = [120, 150, 170, 200]
print(sales[2])
print(sales[-2])

170
170

#Task 2: Add&Remove values(data updates)

In [3]:
data = [10, 20, 30]
data.append(40)
data.remove(20)
print(data)

[10, 30, 40]

#Task 3: Loop through a list

In [4]:
temperatures = [22, 25, 30, 18, 35]

for t in temperatures:
  print(t)

22
25
30
18
35

#Task 4: Simple data filtering

In [5]:
values = [5, 12, 8, 20, 3]
filtered = []

for x in values:
  if x > 6:
    filtered.append(x)

print(filtered)

[12, 8, 20]

#What is a Tuple?

In [6]:
point = (10, 20)

#Task 5: Tuples for fixed data

In [7]:
dataset_info = ("sales_data.csv", 2025, "USD")
print(dataset_info)

('sales_data.csv', 2025, 'USD')