<a href="https://colab.research.google.com/github/sardormamatqobulov1/Python_lesson/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1:Revome missing values

In [1]:
def remove_missing(date):
  clean_data = []
  for x in data:
    if x is not None:
      clean_data.append(x)
  return clean_data

In [2]:
data = [10, None, 25, None, 40]
remove_missing(data)

[10, 25, 40]

#Task 2: Calculate mean(average)

In [3]:
def mean(data):
  total = 0
  for x in data:
    total += x
  return total / len(data)

In [4]:
sales = [120, 150, 170, 200]
mean(sales)

160.0

#Task 3:Normalize data

In [5]:
def normalize(data):
  min_val = min(data)
  max_val = max(data)

  normalized = []
  for x in data:
    normalized.append((x - min_val)/(max_val - min_val))
  return normalized

In [6]:
score = [50, 60, 70, 80, 90]
normalize(score)

[0.0, 0.25, 0.5, 0.75, 1.0]

#Task 4 : Filter data

In [7]:
def filter_above(data, threshold):
  result = []
  for x in data:
    if x > threshold:
      result.append(x)
  return result

In [8]:
temps =[22,25,30, 18, 35]
filter_above(temps, 20)

[22, 25, 30, 35]

#Task 5 : Featrue engineering

In [9]:
def square_feature(data):
  features = []
  for x in data:
    features.append(x ** 2)
  return features

In [10]:
values = [ 1, 2, 3, 4]
square_feature(values)

[1, 4, 9, 16]